#index { 
    background-color: #f78c58;
}

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 50%;
    height: auto;
}

.mainfooter {
    width: 100%;
    background-color: black;
    margin: 15% 0;
    margin-bottom: 0%;
}

.mainfooter p {
    margin: 3% auto;
    color: #f78c58;
}


@media screen and (min-width: 1000px) {
    #container {
        height: 100%;
        width: 1500px;
        margin: 0 auto;
        font-size: 2vw;
    }
}

.header {
    margin-top: 0px;
    width: 100%;
}

nav {
    margin-top: 20px;
}

.navbar {
    color: black;
    font-size: 20px;
    margin-left: 130px;
    text-decoration: none;
}

.navbar:hover {
    text-decoration: underline;
}

span {
    width: 100%;
}

h1 {
    font-size: 80px;
    color: black;
    text-align: center;
    clear: both;
    padding-top: 300px;
}

h2 {
    font-size: 36px;
    color: black;
    text-align: center;
    clear: both;
    margin-top: -60px;
}

#senior h1, h2 {
    color:black;
    margin-top: 0:
}

#mainPage h2 {
    color: black;
}

#about h1{
    font-size: 70px;
    color: black;
    padding-top: 0px;
    margin-top: 30px;
}

#about h2 {
    margin-top: 0px;
    color: #f78c58;
    background-color: black;
}

#about p {
    color:;
}

#re h1{
    font-size: 70px;
    color: black;
    padding-top: 0px;
    margin-top: 20px;
}

#re h2 {
    margin-top: 0px;
    color: #f78c58;
    background-color: black;
}

#re p {
    color: ;
    text-align: center;
}

#aft {
    color: #f78c58;
}

#acc h1{
    font-size: 70px;
    color: black;
    padding-top: 0px;
    margin-top: 30px;
}

#acc h2 {
    margin-top: 0px;
    color: #f78c58;
    background-color: black;
}

#mw h1{
    font-size: 70px;
    color: black;
    padding-top: 0px;
    margin-top: 30px;
}

#mw h2 {
    margin-top: 0px;
    color: #f78c58;
    background-color: black;
}

